body {
    font-family: garamond;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 1024px;
    width: 100%;
}

header {
    width: 100%;
    background-color: white;
}


#bar {
    background-color: #3d3e40;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#menu {
    text-align: center;
    list-style: none;
    width: 100%;
    position: relative;
    bottom: 4px;
}

#menu ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline;
}

#menu li {
    display: inline;
    list-style: none;
    height: 100%;
}

#menu a {
    display: inline;
    width: 33.333%;
    float: left;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: #f6861f;
}

#menu a:hover {
    background-color: #ac5a27;
    color: white;
}


#main {
    height: auto;
    width: 90%;
    display: block;
    margin: auto;
}


h2 {
    /* color: white; */
    margin: auto;
    margin-top: 5.5px;
    font-size: 21px;
    font-family: garamond;
    font-weight: normal;
    text-align: center;
}


#awards {
    width: 30%;
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 0%;
    font-size: 0px;
    color: white;
}

#awards:hover {
    background-color: #f6861f;
    color: black;
}

#award {
    width: 94%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

#killtree {
    width: 30%;
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 2%;
    font-size: 0px;
    color: white;
}

#killtree:hover {
    background-color: #f6861f;
    color: black;
}

#trees {
    width: 94%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

#skiresort {
    width: 36%;
    background-color: #3d3e40;
    display: inline-block;
    float: right;
    /* margin-right: 3%;
    margin-left: 1%; */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: white;
}

#skiresort:hover {
    background-color: #f6861f;
    color: black;
}

#ski {
    display: block;
    width: 94%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

#logos {
    width: 36%;
    background-color: #3d3e40;
    display: inline-block;
    float: right;
    /* margin-right: 3%;
    margin-left: 1%; */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: white;
}

#logos:hover {
    background-color: #f6861f;
    color: black;
}

#white {
    /* height: 87%; */
    width: 94%;
    background-color: white;
    display: block;
    margin: auto;
    /* margin-top: 5.5%; */
    /* position: relative;
    top: 5%; */
    margin-top: 1.5%;
    margin-bottom: 3%;
}

#ecorights {
    width: 48%;
    display: inline-block;
    padding: 2% 0% 1% 2%;
}

#agency {
    width: 48%;
    display: inline-block;
    padding: 2% 2% 1% 0%;
    float: right;
}

#phonebook {
    width: 62%; 
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 0% 0% 0% 0%;
    font-size: 0px;
    color: white;
}

#phonebook:hover {
    background-color: #f6861f;
    color: black;
}

#blossom {
    width: 46.80%;
    display: inline-block;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
}

#eventcenter {
    width: 23.05%;
    display: inline-block;
    margin-right: 1.75%;
    margin-left: 1.75%;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
}

#asphalt {
    width: 23.05%;
    display: inline-block;
    margin-right: 1.75%;
    margin-left: 1.75%;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
    float: right;
}

#cd {
    width: 36%;
    background-color: #3d3e40;
    display: inline-block;
    /* margin-right: 3%;
    margin-left: 1%; */
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
}

#cd:hover {
    background-color: #f6861f;
    color: black;
}

#cdcover {
    display: block;
    width: 94%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 3%;
}
