body {
    font-family: garamond, serif;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 1024px;
    width: 100%;
}

header {
    width: 100%;
    background-color: white;
}


#bar {
    background-color: #3d3e40;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#menu {
    text-align: center;
    list-style: none;
    width: 100%;
    position: relative;
    bottom: 4px;
}

#menu ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline;
}

#menu li {
    display: inline;
    list-style: none;
    height: 100%;
}

#menu a {
    display: inline;
    width: 33.333%;
    float: left;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: #f6861f;
}

#menu a:hover {
    background-color: #ac5a27;
    color: white;
}


#main {
    height: auto;
    width: 90%;
    display: block;
    margin: auto;
}


h2 {
    /* color: white; */
    margin: auto;
    margin-top: 5.5px;
    font-size: 21px;
    font-family: garamond, serif;
    font-weight: normal;
    text-align: center;
}


#awards {
    width: 30%;
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 0%;
    font-size: 0px;
    color: white;
    font-family: garamond, serif;
}

#awards:hover {
    background-color: #f6861f;
    color: black;
}

#award {
    width: 94%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

#killtree {
    width: 30%;
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 2%;
    font-size: 0px;
    color: white;
    font-family: garamond, serif;
}

#killtree:hover {
    background-color: #f6861f;
    color: black;
}

#trees {
    width: 94%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

#bcballers {
    width: 36%;
    background-color: #3d3e40;
    display: inline-block;
    float: right;
    /* margin-right: 3%;
    margin-left: 1%; */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: white;
    font-family: garamond, serif;
}

#bcballers:hover {
    background-color: #f6861f;
    color: black;
}

#bcballersAmockup {
    display: inline-block;
    width: 45%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 3.25%;
}

#bcballersBmockup {
    display: inline-block;
    width: 45%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 1.75%;
}

#southschool {
    width: 36%;
    background-color: #3d3e40;
    display: inline-block;
    float: right;
    /* margin-right: 3%;
    margin-left: 1%; */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: white;
    font-family: garamond, serif;
}

#southschool:hover {
    background-color: #f6861f;
    color: black;
}

#southmockupf {
    display: inline-block;
    width: 45%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 3.25%;
}

#southmockupb {
    display: inline-block;
    width: 45%;
    margin: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 1.75%;
}

#phonebook {
    width: 62%; 
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 0% 0% 0% 0%;
    font-size: 0px;
    color: white;
    font-family: garamond, serif;
}

#phonebook:hover {
    background-color: #f6861f;
    color: black;
}

#blossom {
    width: 46.80%;
    display: inline-block;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
}

#eventcenter {
    width: 23.05%;
    display: inline-block;
    margin-right: 1.75%;
    margin-left: 1.75%;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
}

#asphalt {
    width: 23.05%;
    display: inline-block;
    margin-right: 1.75%;
    margin-left: 1.75%;
    margin-top: 0.6%;
    margin-bottom: 1.4%;
    float: right;
}

#eccolounge {
    width: 30%;
    /*height: 38.25%;*/
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 0%;
    font-size: 0px;
    color: white;
    font-family: garamond, serif;
}

#eccolounge:hover {
    background-color: #f6861f;
    color: black;
}

#koozies {
    width: 94%;
    /*height: 245.812px;*/
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}

#magazinecover {
    width: 30%;
    height: 38.25%;
    background-color: #3d3e40;
    display: inline-block;
    float: left;
    margin: 2% 0% 2% 2%;
    font-size: 0px;
    color: white;
    font-family: garamond, serif;
}

#magazinecover:hover {
    background-color: #f6861f;
    color: black;
}

#statusgo {
    width: 94%;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
}
