body {
    font-family: garamond, serif;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 1024px;
    width: 100%;
}

header {
    width: 100%;
    background-color: white;
}


#bar {
    background-color: #3d3e40;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#menu {
    text-align: center;
    list-style: none;
    width: 100%;
    position: relative;
    bottom: 4px;
}

#menu ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline;
}

#menu li {
    display: inline;
    list-style: none;
    height: 100%;
}

#menu a {
    display: inline;
    width: 33.333%;
    float: left;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: #f6861f;
}

#menu a:hover {
    background-color: #ac5a27;
    color: white;
}

h1 {
    width: 100%;
    display: block;
    /* margin-top: 5%; */
    margin-top: 3.5%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    font-family: garamond, serif;
}

#main {
    /*calign-content: center; */
    max-width: 90%;
    /* margin-left: 1.5%;
    margin-right: 1.5%; */
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    /* background-color: aqua; */
}

#masonry {
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 415px;
    height: auto;
    display: inline-block;
    margin-left: 3.6%;
}

#wrapper {
    max-width: 55.3%;
    /* background-color: #3d3e40; */
    /* background-color: brown; */
    display: inline-block;
    /* padding-top: 0.4%;
    padding-right: 0.4%; */
    margin-left: auto;
    margin-right: 3.6%;
    float: right;
}

#blossom {
    /* float: left; */
    display: inline-block;
    margin-right: 1%;
    max-width: 100%;
    max-height: 193px;
}

#eventcenter {
    display: inline-block;
    max-width: 100%;
    max-height: 193px;
}

#asphalt {
    /* float: left; */
    display: inline-block;
    margin-top: 0.8%;
    margin-right: 1%;
    max-width: 100%;
    max-height: 193px;
}

#barber {
    display: inline-block;
    margin-top: 0.8%;
    max-width: 100%;
    max-height: 193px;
}

