body {
    font-family: garamond;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 1024px;
    width: 100%;
}

header {
    width: 100%;
    background-color: white;
}


#bar {
    background-color: #3d3e40;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#menu {
    text-align: center;
    list-style: none;
    width: 100%;
    position: relative;
    bottom: 4px;
}

#menu ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: inline;
}

#menu li {
    display: inline;
    list-style: none;
    height: 100%;
}

#menu a {
    display: inline;
    width: 33.333%;
    float: left;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: #f6861f;
}

#menu a:hover {
    background-color: #ac5a27;
    color: white;
}

h1 {
    width: 100%;
    display: block;
    /* margin-top: 5%; */
    margin-top: 3.5%;
    margin-bottom: 0.45%;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
}

h2 {
    width: 100%;
    display: block;
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}


#fpc {
    max-width: 37%;
    max-height: 545.562px;
    display: inline-block;
    float: right;
    margin-left: 1%;
    margin-right: 6.07%;
}


#hpc {
    max-width: 43.75%;
    max-height: 319.552px;
    display: inline-block;
    margin-right: 0.7%;
    margin-left: 6.07%;

}

#hcc {
    max-width: 14.25%;
    max-height: 319.552px;
    display: inline-block;
}

#qphc {
    display: inline-block;
    max-width: 59%;
    max-height: 211.958px;
    margin-top: 0.7%;
    margin-left: 6.075%;

}
